.blackbackground {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    
}

.blackitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;    
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 15px;
    border: none;
}

.tempitem {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}